<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <!--<add name="sportsConnectionString" connectionString="Data Source=.;Initial Catalog=sports;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />-->
        <!--<add name="sportsConnectionString2" connectionString="Data Source=.;Initial Catalog=sports;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />-->
        <!--<add name="sportsConnectionString3" connectionString="Data Source=.;Initial Catalog=sports;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="sportsConnectionString4" connectionString="Data Source=.;Initial Catalog=sports;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />-->
      <add name="sportsConnectionString" connectionString="Data Source=SQL5017.myASP.NET;Initial Catalog=DB_A0C1FC_sports;User Id=DB_A0C1FC_sports_admin;Password=sid7106375"
            providerName="System.Data.SqlClient" />
      <add name="sportsConnectionString2" connectionString="Data Source=SQL5017.myASP.NET;Initial Catalog=DB_A0C1FC_sports;User Id=DB_A0C1FC_sports_admin;Password=sid7106375"
           providerName="System.Data.SqlClient" />
      <add name="sportsConnectionString3" connectionString="Data Source=SQL5017.myASP.NET;Initial Catalog=DB_A0C1FC_sports;User Id=DB_A0C1FC_sports_admin;Password=sid7106375"
                 providerName="System.Data.SqlClient" />
      <add name="sportsConnectionString4" connectionString="Data Source=SQL5017.myASP.NET;Initial Catalog=DB_A0C1FC_sports;User Id=DB_A0C1FC_sports_admin;Password=sid7106375"
                 providerName="System.Data.SqlClient" />


    </connectionStrings>
    <system.web>
      <customErrors mode="Off"></customErrors>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
